body {
    background-color: #dbf1f3;
}

p {
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    color: #045062;
    letter-spacing: 3px;
    font-size: 0.9em;
}

.center {
    text-align: center;
}

.container {
    display: flex;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

#convertissor-screen {
  padding: 25px;
  width: 400px;
  height: 100px;
  margin: 10px;
}

#screen {
  font-size: 1.8em;
  text-align: center;
  font-family: 'Alata', sans-serif;
  text-transform: uppercase;
  color: #045062;
  height: 50px;
  border: 1px solid #fcffff;
  background-color: rgba(255,255,255,0.40);
  padding: 15px;
  border-radius: 20px;

}

button {
    height: 75px;
    font-family: 'Alata', sans-serif;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.10);
    font-size: 1.7em;
    color: #045062;
    background: #dbf1f3;
    box-shadow:  20px 20px 60px #bacdcf, 
                -20px -20px 60px #fcffff;
  }
  
  button:hover {
    background: linear-gradient(145deg, #b5d6db, #d7ffff);
}

  .all-clear {
    background: linear-gradient(145deg, #b5d6db, #d7ffff);
    color: #fff;
  }
  
  .all-clear:hover {
    background-color: #f17377;
  }

  #keyboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
  }

  .equal {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  @media screen and (max-width: 800px) {
    .container {
      width: 100%;
      max-width: 800px;
      padding: 5px;
  }
  }