body {
    background-color: #dbf1f3;
}

h1 {
  font-family: 'Alata', sans-serif;
  text-transform: uppercase;
  color: #045062;
  letter-spacing: 3px;
  font-size: 1.6em;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Spartan', sans-serif;
  color: #045062;
  font-size: 0.6em;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: #045062;
}

a:hover {
  background-color: #045062;
  color: white;
}

.center {
    text-align: center;
}

.container {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center
}

.convertissor {
  width: 450px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); */
}

.convertissor-screen {
  padding: 20px;
  width: 400px;
  height: 90px;
  margin: 5px;
}

#screen {
  font-size: 1.8em;
  text-align: center;
  font-family: 'Alata', sans-serif;
  text-transform: uppercase;
  color: #045062;
  height: 50px;
  border: 1px solid #fcffff;
  background-color: rgba(255,255,255,0.40);
  /* padding: 10px; */
  border-radius: 20px;

}
#romanScreen {
  font-size: 1.8em;
  text-align: center;
  font-family: 'Alata', sans-serif;
  text-transform: uppercase;
  color: #045062;
  height: 50px;
  border: 1px solid #fcffff;
  background-color: rgba(255,255,255,0.40);
  /* padding: 15px; */
  border-radius: 20px;

}

button {
    height: 75px;
    font-family: 'Alata', sans-serif;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.10);
    font-size: 1.7em;
    color: #045062;
    background: #dbf1f3;
    box-shadow:  20px 20px 60px #bacdcf, 
                -20px -20px 60px #fcffff;
  }
  
  button:hover {
    background: linear-gradient(145deg, #b5d6db, #d7ffff);
}

  .all-clear {
    background: linear-gradient(145deg, #b5d6db, #d7ffff);
    color: #fff;
  }
  
  .all-clear:hover {
    background-color: #f17377;
  }

  #keyboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
  }

  footer {
  }